.waitingLogo{
    width: 20vw;
    height: 30vh;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
}

.containerLogo{
    display: grid;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
}
